@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
:root {
  --bleu: #0065fc;
  --bleu: #deebff;
  --gris: #f2f2f2;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}
/*HEADER*/
Header {
  display: flex;
  flex-direction: row;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 1400px;
}
.headerImg {
  width: 75px;
  height: auto;
}
.logo {
  margin: 0 3rem;
}
.navHeader ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}
.trait {
  padding: 20px;
  border-top: 3px solid transparent;
}
.trait :hover {
  border-top: 3px solid #0065fc;
}
.navHeaderlink {
  padding-top: 20px;
  text-decoration: none;
  color: black;
}
.-active {
  color: #0065fc;
  border-top: 3px solid #0065fc;
}
.navHeaderlink:hover {
  color: #0065fc;
}
/* ZONE MAIN*/
main {
  margin: auto;
  padding: 0 2rem;
  max-width: 1400px;
}
/*zone Search*/
.searchTitle {
  margin-left: 2rem;
}
.title,
.sTitle {
  margin-top: 0.5rem;
}
/* zone formulaire*/
.searchForm {
  display: inline-flex;
  align-items: center;
  max-width: 100%;
  margin: 1rem 0 0.7rem 2rem;
}
.searchFormSpanFond {
  background-color: var(--gris);
  border-radius: 25px 0 0 25px;
  padding: 0.7rem 1.3rem;
  height: 2.9rem;
}
.searchFormInput {
  width: 100%;
  border: none;
  border: 1px solid #f2f2f2;
  font-weight: bold;
  padding: 0.8rem 2.7rem;
}

.button {
  display: inline-flex;
  align-items: center;
  border: 1px solid #f2f2f2;
  border-top: 3px solid;
  background-color: #0065fc;
  border-radius: 0 15px 15px 0;
  padding: 0.9rem 1.7rem;
  font-weight: bold;
  color: white;
}
/*zone filtres**/
.searchFiltre {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin-left: 2rem;
  margin-bottom: 0.4rem;
}
.FiltreTitle {
  display: flex;
}

.searchCategorie {
  display: flex;
  flex-direction: row;
}

.Categorie {
  display: flex;
  align-items: center;
  padding-right: 1rem;
  border-radius: 2rem;
  border: 2px solid #f2f2f2;
  background-color: white;
  margin-left: 2.1rem;
}
.Categorie:hover {
  transform: scale(0.1s);
  background-color: #deebff;
}
.CategorieIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #deebff;
  color: #0065fc;
  background-color: #deebff;
  border-radius: 50%;
  padding: 1.4rem;
  max-width: 30px;
  max-height: 30px;
  margin-left: -3px;
}
.CategorieNom {
  margin-left: 1rem;
  font-weight: bold;
}
/*zone texte info*/
.searchInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5rem;
  margin-left: 2rem;
  margin-top: 2rem;
}
.InfoIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #f2f2f2;
  border-radius: 50%;
  color: #0065fc;
  margin-right: 1rem;
  min-width: 32px;
  min-height: 32px;
}

/* zone hebergement*/

.zoneHebergement {
  display: flex;
}
.hebergement,
.cityPop {
  background-color: #f2f2f2;
  border-radius: 30px;
  margin-left: 2rem;
}
.hebergement {
  width: 66%;
}
.hebergementCity,
.lesPopulaires {
  margin-bottom: 1rem;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hebergementCity {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-right: 1rem;
}
.titlehebergement {
  padding-top: 0.5rem;
  padding-left: 1rem;
}
.cityPop {
  width: 33%;
}
.titlePop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 0 1rem;
}
/* les cards hebergement*/
.cityCard,
.PopCard,
.activityCard {
  width: 250px;
  border: 4px solid white;
  border-radius: 25px;
  background-color: white;
  list-style: none;
  margin-bottom: 2rem;
  box-shadow: 2px 1px 1px 2px rgba(233, 227, 227, 0.527);
}
.cityCardFigure img,
.PopCardFigure img,
.activityCardFigure img {
  object-fit: cover;
  width: 100%;
  height: 130px;
  border-radius: 25px 25px 0 0;
}
.figureText {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.5rem;
  line-height: 1.2rem;
  list-style: none;
}
.PopCardFigure img {
  border-radius: 25px 0 0 25px;
  width: 50%;
}
.activityCard img {
  height: 350px;
}
.activityCard {
  border: 1px transparent;
}
.etoile .active,
.etoile2 .active {
  color: #0065fc;
}
.etoile,
.etoile2 {
  color: #f2f2f2;
  padding-top: 1.2rem;
}

/* cartes populaires*/

.PopCard {
  width: 355px;
}
.cityCard a,
.PopCard a,
.activityCard a {
  text-decoration: none;
}
.PopCardFigure {
  display: flex;
}
.infoplus {
  margin: 0.5rem;
}
/* Zone ACTIVITE */

.activityCity {
  margin-top: 1rem;
  margin-left: 2rem;
}
.activity {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.activityCity img {
  object-fit: cover;
  width: 100%;
  height: 300px;
  border-radius: 25px 25px 0 0;
}

/*FOOTER*/
footer {
  background-color: #f2f2f2;
  width: 100%;
}
.footerColumn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 2rem;
  margin: auto;
  width: 1400px;
}
.footerColumnList {
  width: 30%;
  padding: 0 2rem;
  margin: 2rem 3rem;
}
.footerColumnListUl {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
}

.footerColumnListUl li {
  color: black;
  list-style: none;
  line-height: 2rem;
}
.Ulli a {
  text-decoration: none;
}

/* version tablette*/
@media screen and (max-width: 991px) {
  /*header tablet*/
  .header {
    width: 100%;
  }
  .searchTitle h1 {
    /*ZoneSerache*/
    font-size: 1.5rem;
    font-weight: bold;
  }
  .searchFiltre h3 {
    font-size: 1rem;
  }
  .Categorie {
    height: 2.3rem;
  }
  .CategorieIcon {
    padding: 1.1rem;
  }
}
@media screen and(max-width:768px) {
  .main {
    width: 100%;
  }

  /*version mobile*/
}
@media screen and (max-width: 600px) {
  .Header {
    flex-direction: column;
    padding: 0;
  }
  .logo {
    margin: 0.5rem;
  }
  .navHeader {
    width: 100%;
    border-bottom: 2px solid #f2f2f2;
    border-top: none;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .trait :hover,
  .trait2 :hover,
  .trait3 :hover {
    border-top: none;
  }
  .trait {
    width: 50%;
    border-bottom: solid 2px #0065fc;
  }
  .t3 {
    border-bottom: 2px solid transparent;
  }
  .t3:hover {
    border-bottom: 2px solid #0065fc;
  }
  .navHeader ul {
    width: 100%;
  }
  .navULheader :hover {
    border-bottom: 2px solid #0065fc;
    transition: 0.1s;
  }
  .navHeaderlink {
    text-decoration: none;
    color: black;
    padding: 2rem;
    border-top: none;
  }
  .-active {
    color: #0065fc;
    border-top: none;
  }
}
